/*AIRBNB Styles*/

/*Utilities*/

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #CCC;
}

.main-destination-wrap {
  position: absolute;
  height: 100vh;
  left: 50%;
  transform:translateX(-50%);
  background-color: #FFF;
}

/*
.main-destination-wrap .destination:first-of-type{
  border-top: 1px solid black;
}

.main-destination-wrap .destination:last-of-type{
  border-bottom: 1px solid black;
}
*/

.destination {
  position: relative;
  height: 33%;
}

.destination img {
  height: 100%
}

.destination span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
  font-family: 'Noto Sans', monospace ;
}

.destination:hover{
  background-color: #000;
  opacity: .5;
}
